{% extends 'template.html' %}

{% block title %}buat post{% endblock %}

{% block content %}
<div class=" w-full h-screen flex justify-center items-center flex-col">
    <h1>Create New Post</h1>
    <form class=" flex flex-col justify-center items-center mt-2 border-t-4 border-green-500 p-2 rounded-md" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="content">Content:</label>
        <input class=" h-[200px]" id="content" name="content" required><br><br>
        
        <button class=" text-white bg-green-500 rounded-md p-2" type="submit">Submit</button>
    </form>
</div>
{% endblock %}