{% extends 'template.html' %}

{% block title %}
edit post
{% endblock %}

{% block content %}
    <div class="w-full h-screen flex justify-center items-center flex-col">
        <h1>Edit Post</h1>
        <form class=" p-2 flex flex-col" method="POST">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="{{ post.title }}" required><br><br>
            
            <label for="content">Content:</label>
            <input class=" h-[200px]" id="content" name="content" placeholder="{{ post.content }}" required><br><br>
            <button class=" text-white bg-green-800 p-3" type="submit">Save Changes</button>
        </form>
        <a href="{% url 'post' %}">Back to Post List</a>
    </div>
{% endblock %}